{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
<section>
    <section class="white h400">
       <section class="hidden">
        <form method="POST" >
    <div class="container py-5 h-40 relative mt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-lg" style="border-radius: .5rem;">
                  <div class="card-body text-center">
                    <div class="form-outline">
                        <h3 class="mb-5">Change API Key</h3>
                      <div class="input-group mb-3">
                          <!-- Input box for api_key-->
                          <label class="form-label" for="api_key"> New API Key</label>
                      <input name="api_key" type="text" autocomplete="api_key" class="input form-control" id="api_key"
                      placeholder="eg:f7104j6h6k4lpcnmlcaj01jdo83kd5bg" required="true"/>
              </div>
              <!-- Submit Form Button-->
              <div class="d-flex justify-content-start">
                <a target="_blank" href="https://the-odds-api.com/account/">Get key</a>
              </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-standard align-right small" type="submit">Reset</button>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        </div>
        </form>
       </section>
    </section>
</section>

{% endblock %}