{% extends "base.html" %} {% block style %}
<link rel="stylesheet" type="text/css" href="/static/styles/help.css" />
{% endblock %} {% block title %} Help {% endblock %} {% block content %}
<div class="main-body">
  <nav id="navbar">
    <header>Menu</header>
    <a href="#Intro" class="nav-link"> What is BookieBreaker</a>
    <a href="#Arbitrage" class="nav-link"> Arbitrage Betting</a>
    <a href="#Tools" class="nav-link"> Tools and Uses</a>
    <a href="#Info" class="nav-link"> More Info</a>
  </nav>

  <main id="main-doc">
    <section class="main-section" id="Intro">
      <header>What is BookieBreaker?</header>
      <p>
        BookieBreaker is an arbitrage sports betting tool designed for use by
        arbitrageurs of all skill levels. It is meant to assist and teach about
        arbitrage sports betting, and introduce new people to the art that is
        placing arbitrage bets. For new arbitrage tools, the help page can
        introduce you to the world of arbitrage bettings, and its many upsides
        but also risks. For more veteran arbitrage bettors, BookieBreaker is one
        of few arbitrage betting tools that allows you to find and place
        arbitrage bets charge free!
      </p>
      <p>
        For more information on arbitrage betting or BookieBreaker and its
        tools, continue reading bellow.
      </p>
    </section>

    <section class="main-section" id="Arbitrage">
      <header>Arbitrage Betting</header>
      <p>
        Arbitrage betting involves more than just placing bets; it's a
        mathematical and strategic approach that tilts the odds in your favor.
        In this section, we delve deeper into the key principles of arbitrage
        betting, equipping you with the knowledge and skills needed to become a
        successful arbitrageur.
      </p>

      <h5><b>Key Concepts:</b></h5>
      <ul>
        <li><b>Understanding Arbitrage Opportunities</b></li>
        <li><b>Risk Management</b></li>
        <li><b>Arbitrage Is Gambling</b></li>
      </ul>

      <p>
        Mastering these concepts is essential for long-term success in arbitrage
        betting.
      </p>
      <h5><b>Understanding Arbitrage Opportunities</b></h5>
      <p>
        The first step to placing any successful arbitrage bet is understanding
        exactly what an arbitrage opportunity is. In basic terms, an arbitrage
        bet occurs when different sportsbooks offer odds for an event that
        differ significantly, allowing a bettor to place calculated bets on
        every possible outcome and guarantee a profit. To identify arbitrage
        opportunities, you first need to understand the mathematics behind these
        opportunities.
      </p>
      <p>
        The mathematics behind finding arbitrage opportunities are actually much
        simpler than most people assume. First, let's consider an event like a
        coin flip, with only two possible outcomes: heads or tails, each with a
        0.5 probability. Let's assume a sportsbook offers a payout of $1.5 for a
        successful guess on heads or tails. It's evident that this isn't an
        arbitrage opportunity, as betting on both outcomes would result in a net
        loss of $0.5.
      </p>
      <p>
        To continue learning about arbitrage betting, you must also grasp the
        concept of implied odds. Implied odds for an outcome are equal to 1
        divided by the payout relative to every $1 placed. For example, the
        implied odds for betting on heads in our first example are as follows:
      </p>
      <math>1/1.5 (payout per $1) = 2/3 or 0.6666666 (implied odds)</math>
      <p>
        These implied odds indicate that, with a payout of 1.5 to 1, we would
        assume a 66.66% chance of this outcome occurring, aligning with the
        payout.
      </p>
      <p>
        To find arbitrage events, our calculations aren't much different from
        finding singular fair outcomes. We simply find the implied odds for each
        outcome and sum them up. For instance:
      </p>
      <math
        >1/4 + 1/3 + 1/7 (implied odds combined) = 61/84 or 0.7262 (arbitrage
        percentage)</math
      >
      <p>
        As long as this calculated arbitrage percentage is below 1.00, it
        signifies a proper arbitrage bet. By splitting a stake proportionally
        among the outcomes, the bettor is guaranteed a positive payout
        regardless of the outcome.
      </p>
      <h5><b>Risk Management</b></h5>
      <p>
        Despite the apparent foolproof nature of arbitrage betting, there is
        always risk involved, as with any form of betting. Some common risks
        include:
      </p>
      <ol>
        <li>
          <b>Odds Changing:</b> Odds can change, causing what was previously an
          arbitrage bet to no longer be one.
        </li>
        <li>
          <b>Incorrect Bet Type:</b> Betting websites offer various types of
          bets, such as over/unders, spreads, and moneylines. Ensure that you
          place the correct arbitrage bet and not a different type of bet.
        </li>
        <li>
          <b>Insufficient Funds:</b> Ensure you have sufficient funds on the
          different sports betting sites where you plan to bet. Do not place
          bets on one site without having funds available on the others, as odds
          may change before you can do so.
        </li>
        <li>
          <b>Responsible Betting:</b> Like all forms of betting, arbitrage
          betting should only involve an amount you can afford to lose. It's
          essential to understand that while arbitrage may be safer than other
          forms of gambling, it still carries risks.
        </li>
      </ol>
      <h5><b>Arbitrage Is Gambling</b></h5>
      <p>
        Arbitrage sports betting, as mentioned above, can provide a guaranteed
        way to make money, but it remains a form of gambling. It can be both
        addictive and costly, so do not engage in it without recognizing this
        fact. Arbitrage sports betting, like all forms of gambling, carries
        inherent risks. It may appear to have minimal risk, but it can quickly
        become addictive for some individuals. When gambling becomes an
        addiction, it can lead to severe financial, emotional, and psychological
        problems. If you find yourself struggling with an addiction to arbitrage
        sports betting or any form of gambling, it's crucial to seek help.
      </p>
    </section>

    <section class="main-section" id="Tools">
      <header>Tools and Uses</header>
      <h5><b>Available Tools</b></h5>
      <ul>
        <li>Arbitrage Bet Finder</li>
        <li>Arbitrage Odds Calculator</li>
        <li>Help Page</li>
      </ul>
      <h5><b>Arbitrage Bet Finder</b></h5>
      <p>
        The most useful and unique tool of BookieBreaker is it's arbitrage bet
        finder. This is also the only tool of BookieBreaker that requires the
        user to create an account. It uses a Bet Amount set by the user
        alongside an API Key obtained from the website
        <a target="_blank" href="https://the-odds-api.com/account/"
          >the-odds-api.coms</a
        >
        to find arbitrage bets that the user can then place. It searches accross
        over 20 US sports bookmakers to find and bets with a winning arbitrage
        percent, then tells the user the exact amounts to bet on each website.
        Currently the arbitrage bet finder only finds bets on US bookmakers and
        not all bookmakers are legal in all states so check this before placing
        a bet.
      </p>
      <h5><b>Arbitrage Odds Calculator</b></h5>
      <p>
        The arbitrage odds calculator is a free to use tool, that doesn't
        require the user to sign in. It takes American style betting odds (such
        as +200 or -400) and a stake the user would like to place and returns
        wether the odds shown present an arbitrage opporunity and if so how much
        the user should place on each outcome. The arbitrage calculator allows
        for a maximum of 10 odds to be inputed which covers all sports unless
        betting on specific players which hardly ever will result in an
        arbitrage opportunity.
      </p>
      <h5><b>Help Page</b></h5>
      <p>
        The final tool of BookieBreaker is this page. It has an extensive
        explanation of what arbitrage bettings is, how to perform it safely, and
        how to use the many tools on BookieBreaker to assist in placing
        arbitrage bets. On top of this there is an email at the bottom of the
        help page if a user ever has further questions on performing arbitrage
        bets.
      </p>
    </section>

    <section class="main-section" id="Info">
      <header>More Info</header>
      <p>
        For more information on arbitrage betting we've listed many useful sites
        bellow
      </p>
      <ol>
        <li>
          <a target="_blank" href="https://the-odds-api.com/account/"
            >the-odds-api.coms</a
          >: This is the API used for this project and can be used to give
          realtime sports odds for personal arbitrage finders
        </li>
        <li>
          <a target="_blank" href="https://oddsjam.com/">oddsjam.com</a>: This
          is the best payed arbitrage website out there. If you want to take
          your arbitrage betting to the next level visit here.
        </li>
        <li>
          <a
            target="_blank"
            href="https://kindbridge.com/gambling/dangers-of-sports-betting/"
            >kindbridge.com</a
          >: This is an insightful article about the negative effects of sports
          betting. If you or anyone you know has become addicted to sports
          betting please reach out for help
        </li>
        <li>
          <a target="_blank" href="mailto:jonnycupcakes606@gmail.com">Email</a>:
          For any further questions about arbitrage betting or BookieBreaker
          contact us here.
        </li>
        <li>
          <a target="_blank" href="https://www.riseagainstsuicide.org/"
            >Charity</a
          >: We reccomend donating 15% of all profits gained from arbitrage
          betting to charity. This is a link to one of many important charities
          in the world. Please consider supporting.
        </li>
      </ol>
    </section>
  </main>
</div>
{% endblock %}
